.svg-arrow {
	background: url("sprite.css-95853c9c.svg") 90.15939015939016% 28.015075376884422% no-repeat;
}

.svg-arrow-x {
	width: 20px;
	height: 20px;
}

.svg-arrow2 {
	background: url("sprite.css-95853c9c.svg") 88.77338877338877% 28.050314465408807% no-repeat;
}

.svg-arrow2-x {
	width: 20px;
	height: 21px;
}

.svg-arrow3 {
	background: url("sprite.css-95853c9c.svg") 91.54539154539154% 28.015075376884422% no-repeat;
}

.svg-arrow3-x {
	width: 20px;
	height: 20px;
}

.svg-close {
	background: url("sprite.css-95853c9c.svg") 75.96086652690427% 32.39795918367347% no-repeat;
}

.svg-close-x {
	width: 32px;
	height: 32px;
}

.svg-close2 {
	background: url("sprite.css-95853c9c.svg") 99.93050729673384% 24.494949494949495% no-repeat;
}

.svg-close2-x {
	width: 24px;
	height: 24px;
}

.svg-https404 {
	background: url("sprite.css-95853c9c.svg") 100% 0 no-repeat;
}

.svg-https404-x {
	width: 546px;
	height: 194px;
}

.svg-logo-dev {
	background: url("sprite.css-95853c9c.svg") 85.68450312717165% 28.156565656565657% no-repeat;
}

.svg-logo-dev-x {
	width: 24px;
	height: 24px;
}

.svg-m1 {
	background: url("sprite.css-95853c9c.svg") 92.41902136457615% 27.736318407960198% no-repeat;
}

.svg-m1-x {
	width: 12px;
	height: 12px;
}

.svg-m2 {
	background: url("sprite.css-95853c9c.svg") 93.2460372157133% 27.736318407960198% no-repeat;
}

.svg-m2-x {
	width: 12px;
	height: 12px;
}

.svg-mail {
	background: url("sprite.css-95853c9c.svg") 98.26268241834607% 24.52591656131479% no-repeat;
}

.svg-mail-x {
	width: 24px;
	height: 25px;
}

.svg-name {
	background: url("sprite.css-95853c9c.svg") 71.14041892940264% 25.66137566137566% no-repeat;
}

.svg-name-x {
	width: 174px;
	height: 60px;
}

.svg-partners-img1 {
	background: url("sprite.css-95853c9c.svg") 69.20754716981132% 32.60590500641849% no-repeat;
}

.svg-partners-img1-x {
	width: 138px;
	height: 37px;
}

.svg-partners-img2 {
	background: url("sprite.css-95853c9c.svg") 82.5889477668433% 28.40764331210191% no-repeat;
}

.svg-partners-img2-x {
	width: 142px;
	height: 31px;
}

.svg-partners-img3 {
	background: url("sprite.css-95853c9c.svg") 94.31387414708112% 24.556962025316455% no-repeat;
}

.svg-partners-img3-x {
	width: 144px;
	height: 26px;
}

.svg-partners-img4 {
	background: url("sprite.css-95853c9c.svg") 83.2824427480916% 24.65057179161372% no-repeat;
}

.svg-partners-img4-x {
	width: 153px;
	height: 29px;
}

.svg-pinmap {
	background: url("sprite.css-95853c9c.svg") 73.72466806429071% 32.43933588761175% no-repeat;
}

.svg-pinmap-x {
	width: 32px;
	height: 33px;
}

.svg-play {
	background: url("sprite.css-95853c9c.svg") 66.30513376717282% 39.53804347826087% no-repeat;
}

.svg-play-x {
	width: 80px;
	height: 80px;
}

.svg-quot {
	background: url("sprite.css-95853c9c.svg") 70.06324666198172% 37.5% no-repeat;
}

.svg-quot-x {
	width: 40px;
	height: 40px;
}

.svg-shadow {
	background: url("sprite.css-95853c9c.svg") 0 0 no-repeat;
}

.svg-shadow-x {
	width: 917px;
	height: 816px;
}

.svg-soc1 {
	background: url("sprite.css-95853c9c.svg") 96.5901183020181% 24.556962025316455% no-repeat;
}

.svg-soc1-x {
	width: 26px;
	height: 26px;
}

.svg-soc2 {
	background: url("sprite.css-95853c9c.svg") 78.19706498951781% 32.39795918367347% no-repeat;
}

.svg-soc2-x {
	width: 32px;
	height: 32px;
}

.svg-soc3 {
	background: url("sprite.css-95853c9c.svg") 80.43326345213137% 32.39795918367347% no-repeat;
}

.svg-soc3-x {
	width: 32px;
	height: 32px;
}

.svg-soc4 {
	background: url("sprite.css-95853c9c.svg") 82.66946191474493% 32.39795918367347% no-repeat;
}

.svg-soc4-x {
	width: 32px;
	height: 32px;
}

.svg-soc5 {
	background: url("sprite.css-95853c9c.svg") 87.35232800555941% 28.156565656565657% no-repeat;
}

.svg-soc5-x {
	width: 24px;
	height: 24px;
}

.svg-togl {
	background: url("sprite.css-95853c9c.svg") 94.07305306685045% 27.736318407960198% no-repeat;
}

.svg-togl-x {
	width: 12px;
	height: 12px;
}

